@font-face {
  font-family:"MPLUS1p";
  src: url("assets/MPLUS1p-Light.ttf") format("truetype");
}

@font-face {
  font-family:"SilkSerif";
  src: url("assets/SilkSerif-Medium.ttf") format("truetype");
}

@font-face {
  font-family:"Manofa-Regular";
  src: url("assets/Manofa-Regular.ttf") format("truetype");
}

html, body {
	height: 100%;
	background-color: #bdafb0;
    font-family: MPLUS1p;
    font-family: Manofa-Regular;
}

.dot{
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
}

#dot1 {
    background: #572124;
    top:0;
    left:0;
    transform: translate(-50%, -50%);
}

#dot2 {
    background: #b45859;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
}

#dot3 {
    background: #8d4242;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot-rest {
	background-color: white;
	width: 30px;
	height: 30px;
	top: 0%;
	left: 100%;
    transform: translate(-50%, -50%);
}

.sun-back {
    width: 60px;
    height: 60px;
    top:50px;
    left:50px;	
    position:absolute;
}

#sun{
	display:inline-block;
    width: 60px;
    height: 60px;
    position:absolute;
    top:50px;
    left:50px;
    background-color: black;
    transition: transform 1s;
    transition-timing-function: ease-in;
}

.sun-one {
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:1s;
}

.sun-two {
	-webkit-transform:rotate(90deg)
}

@-webkit-keyframes orbit {
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } }

.hidden {
	display: none;
}

.active {

}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	flex-direction: column;
}

.content {
    height: 100%;
    margin-top: 75px;
}

#content-wrapper {
	position: relative;
/*	background-image: url(assets/IMG_0551.jpg);
	background-size: 1000px;*/
    width: 50vw;
    color: white;
    height: 50vh;
    text-align: center;
}

#contact-wrapper {
	text-align: center;
    margin-top: -18px;
    z-index: 100;
    font-size: 26px;
    color: white;
}

#next-button-wrapper {
    position: absolute;
    bottom: 10px;
    color: white;
    right: 20px;
    border: 1px solid white;
    padding: 5px;
    font-weight: 800;
}

#next-button {
    position: absolute;
    bottom: 10px;
    color: white;
    right: 20px;
    border: 1px solid white;
    padding: 5px;
    font-weight: 800;	
}

