/*@font-face {
  font-family:"Manofa-Regular";
  src: url("assets/Manofa-Regular.ttf") format("truetype");
}*/

@font-face {
    font-family: 'manofaregular';
    src: url('assets/manofa-regular-webfont.woff2') format('woff2'),
         url("assets/Manofa-Regular.ttf") format("truetype"),
         url('assets/manofa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	background-color: #bdafb0;
    font-family: manofaregular;
}

.dot{
    position:absolute;
    width:15px;
    height:15px;
    border-radius:50%;
}

#dot1 {
    background: #572124;
    top:75%;
    left:6.7%;
    transform: translate(-50%, -50%);
}

#dot2 {
    background: #b45859;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dot3 {
    background: #8d4242;
    top: 75%;
    left: 93.3%;
    transform: translate(-50%, -50%);
}

.dot-rest {
	background-color: white;
	width: 27px;
	height: 27px;
	top: 0%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.sun-back {
    width: 60px;
    height: 60px;
    top:50px;
    left:50px;	
    position:absolute;
}

#sun{
	display:inline-block;
    width: 60px;
    height: 60px;
    position:absolute;
    top:50px;
    left:50px;
    transition: transform 1s;
    transition-timing-function: ease-in;
}

.sun-one {
	transform:rotate(0deg);
}

.sun-two {
	transform:rotate(120deg);
}

.sun-three {
	transform:rotate(240deg);
}

.hidden {
	display: none;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	flex-direction: column;
}

.content {
    height: 100%;
    margin-top: 75px;
}

@keyframes textAppear {
  0%   {color: #bdafb0;}
  50%  {color: #bdafb0;}
  100% {color: white;}
}

.active {
	animation-name: textAppear;
  	animation-duration: 1.3s;
}


#content-wrapper {
	position: relative;
    width: 50vw;
    color: white;
    height: 50vh;
    text-align: center;
	animation-name: textAppear;
  	animation-duration: 1.5s;
}

#contact-wrapper {
	text-align: center;
    margin-top: -18px;
    z-index: 100;
    font-size: 20px;
    color: white;
	animation-name: textAppear;
  	animation-duration: 1.5s;
}

@media only screen and (max-width: 600px) {
  #content-wrapper  {
    width: 80vw;
  }

  #contact-wrapper {
    font-size: 18px;
}
